/* Colour Styles */

.bg-yellow {
    background-color: #f2ed63;
}
.bg-green {
    background-color: #60ab45;
}
.bg-green-dark {
    background-color: #56993E !important;
}
.txt-yellow {
    color: #f2ed63 !important;
}


/* Font Styles */

.font-times {
    font-family:"Times New Roman", Times, serif; 
}


/* Global Styles */
.link a {
    color: #f2ed63 !important;
    text-decoration: underline !important;
}
.link a:hover {
    text-decoration: none !important;
}
.btn-fcp {
    background-color: #f2ed63 !important;
    color: #56993E !important;
    font-family:"Times New Roman", Times, serif; 
}
p {
    font-size: 18px;
}




.logo {
    width: 50%;
}

.green-border {
    border-color: #60ab45 !important;
}


.table-custom {
    color: #f2ed63 !important;
}

.table-custom tbody tr th {
    padding: 0px;
    border-top: none !important;
}

.table-custom tbody tr td {
    padding: 0px;
    border-top: none !important;
    padding-left: 25px;
}
.italic {
    font-style: italic;
}